body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 
.clear:after{content: "";clear: both;display: block;}
.bg{
    width: 600px;
    height: 300px;
    background: pink;  
    position: relative; 
}
.bg .box{
    
    position: absolute;
     top:50%;
    left: 50%;
    margin-top:-50px;
    margin-left: -250px; 
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */
  
    
}
.box li{
    float: left;
    border: 1px solid blue;
    padding: 10px;
    box-sizing: border-box;
}
li{
    margin-right: -1px;
    margin-bottom: -1px;
    position:relative; 
}

li:hover{
    border: 1px solid red;
    z-index:1;
    border-bottom: 0px;
}
li.box6{
    border: 0px;
}
li.box6{
    width: 84px;
    height: 43px;
    border-bottom: 1px solid blue;

}


